.body {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  font-family:Arial, Helvetica, sans-serif;
}
.filters {
  padding: 10px;
  border-style: solid;
}
 button{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
}