.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  background-color: black;
  color: aliceblue;
  display: grid;
  grid-template-columns: 20% auto 30%;
  padding-left: 60px;
}

.header button {
  background-color: white;
  border-style: none;
  border-radius: 2px;
  padding: 5px;
  margin: 2px;
  color: black;
  font-size: 15px;
  cursor: pointer;
}
.header button:hover {
  background-color: rgb(235, 235, 235);
}
.header button:active {
  background-color: rgb(168, 168, 168); 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); 
}
a {
  color: aliceblue;
}
.banner {
  width: 100%;
}
.banner img {
  width: 100%;
  max-width: 250px;
}
.header-search {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.header-search-input {
  flex-grow: 1;
  width: 0;
  margin-right: 10px;
  padding: 10px;
  font-size: 20px;
}
.header-search-button {
  height: 50px;
}
.header-icons {
  display: flex;
  padding-left: 30px;
}
.header-icons button {
  width: 50px;
  height: 50px;
}
.user {
  align-items: center;
  display: grid;
  grid-template-columns: auto 120px;
  font-size: large;
}
.user .buttons{
  margin-right:10px ;

}
